<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quickevent</title>
  <link href="../static/style/styleNavBarEditarEvento.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a href="destaques" class="navbar-brand" href="#"><img src="../static/LogoFundo.png" alt="Logo do Site" style="max-height: 40px; max-width: 120px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form id="searchForm" class="form-inline ml-right" action="buscar" style="position: relative; display: inline-block;">
      <div class="input-group" style="width: 400px;"> <!-- Definindo largura da div -->
        <input name="filtro" id="searchInput" type="text" class="form-control" placeholder="Buscar eventos">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="InicioEventosParticipados" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Eventos participados</a>
        </li>
        <li class="nav-item">
          <a href="InicioCriarEvento" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Criar eventos</a>
        </li>
        <li class="nav-item">
          <a href="InicioGerenciarEventos" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Gerenciar eventos</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" id="profileDropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <div class="d-flex align-items-center">
              <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden;">
                <img src="data:image/jpeg;base64,{{ foto }}" alt="User Photo" class="profile-pic" style="max-width: 100%; height: auto;">
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="InformacaoConta">Informações da conta</a>
            <a class="dropdown-item" href="/">Sair</a>
          </div>
        </li>
      </ul>
  </div>
</nav>

<section class="vh-100">

        <div class="container py-5 h-100">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


            <div class="container">
                <div class="row">
                    <!-- Abas à esquerda -->
                    <div class="col-md-3">
                        <div class="nav-container">
                            <form action="/alteraaba" method="post" enctype="multipart/form-data">
                                <ul class="nav flex-column nav-pills">
                                    <li class="nav-item">
                                        <input type="hidden" id="eventoPresenca" name="eventoPresenca" value="{{eventos[0]}}">
                                        <button type="submit" class="nav-link btn btn-clean" name="aba" value="dadosEvento">Dados do Evento</button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="submit" class="nav-link btn btn-clean" name="aba" value="usuariosOrganizadores">Usuários Organizadores</button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="submit" class="nav-link active btn btn-clean" name="aba" value="chatOrganizadores">Chat dos Organizadores</button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="submit" class="nav-link btn btn-clean" name="aba" value="listaParticipantes">Lista de Participantes</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div id="chat-container" class="container-fluid">
                            <h4>Chat dos Organizadores</h4>
                            <!-- Aqui você pode adicionar o conteúdo do chat -->
                            <div id="chat-messages">
                                {% for message in chat_data %}
                                    <div class="chat-message">
                                        <div class="user-avatar">
                                            <img src="data:image/jpeg;base64,{{ message.foto }}" alt="User Photo" class="profile-pic">
                                        </div>
                                        <div class="message-content">
                                            <div class="message-text">{{ message.mensagem }}</div>
                                            <div class="message-info">Enviado por: {{ message.nome }} {{ message.sobrenome }}</div>
                                            <div id="message-date" class="message-info">Data de Envio: {{ message.data_envio }}</div>
                                            <div id="user-id" class="message-info">ID do Usuário: {{ message.id_usuario }}</div>
                                            <button class="btn btn-danger btn-sm delete-message" data-message-id="{{ message.id }}">Deletar</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- Formulário para enviar mensagens -->
                            <form id="chat-form" action="/enviar_mensagem" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="hidden" id="eventoPresenca" name="eventoPresenca" value="{{eventos[0]}}">
                                    <textarea class="form-control" id="mensagem" name="mensagem" rows="3" placeholder="Digite sua mensagem"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- JavaScript necessário para o Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
        // Faça uma solicitação AJAX para obter os dados do chat
        $.ajax({
            url: '/get_chat_data',
            method: 'GET',
            success: function(response) {
                // Manipule os dados do chat retornados aqui
                console.log(response);
                // Por exemplo, você pode iterar sobre os dados do chat e exibi-los na página
                response.forEach(function(message) {
                    $('#chat-messages').append('<p>' + message.mensagem + '</p>');
                });
            },
            error: function(error) {
                // Manipule erros de solicitação aqui
                console.error(error);
            }
        });
    });

$(document).on('click', '.delete-message', function() {
    var messageId = $(this).data('message-id');
    var eventId = $('#eventoPresenca').val(); // Obtenha o ID do evento
    var userId = $('#user-id').text(); // Obtenha o ID do usuário da mensagem
    var messageDate = $('#message-date').text(); // Obtenha a data de envio da mensagem
    var $messageElement = $(this).closest('.chat-message'); // Armazena uma referência ao elemento da mensagem

    $.ajax({
        url: '/delete_message',
        method: 'POST',
        data: {
            message_id: messageId,
            eventoPresenca: eventId,
            id_usuario: userId,
            data_envio: messageDate
        },
        success: function(response) {
            // Remova a mensagem excluída da interface do usuário
            $messageElement.remove();
            // Recarrega a página após a exclusão bem-sucedida
            location.reload();
        },
        error: function(error) {
            console.error(error);
            // Exiba uma mensagem de erro ou tome outras medidas apropriadas
        }
    });
});

</script>

</body>
</html>
