<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quickevent</title>
  <link href="../static/style/styleNavBarCriarEvento.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmLCHDE0BvppuDOpITU30gt0b5WysTSjE&libraries=places"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a href="destaques" class="navbar-brand" href="#"><img src="../static/LogoFundo.png" alt="Logo do Site" style="max-height: 40px; max-width: 120px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form id="searchForm" class="form-inline ml-right" action="buscar" style="position: relative; display: inline-block;">
      <div class="input-group" style="width: 400px;"> <!-- Definindo largura da div -->
        <input name="filtro" id="searchInput" type="text" class="form-control" placeholder="Buscar eventos">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="InicioEventosParticipados" class="nav-link">Eventos participados</a>
      </li>
      <li class="nav-item">
        <a href="InicioCriarEvento" class="nav-link">Criar eventos</a>
      </li>
      <li class="nav-item">
        <a href="InicioGerenciarEventos" class="nav-link">Gerenciar eventos</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" id="profileDropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"> <!-- Adicionando o atributo data-toggle -->
          <div class="d-flex align-items-center">
            <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden;">
              <img src="data:image/jpeg;base64,{{ foto }}" alt="User Photo" class="profile-pic" style="max-width: 100%; height: auto;">
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="InformacaoConta">Informações da conta</a>
          <a class="dropdown-item" href="/">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<section class="vh-100">
    <form action="{{ url_for('CriarEvento') }}" method="post" enctype="multipart/form-data">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Criar novo evento</h3>
                            {% set mensagens = get_flashed_messages() %}
                            {% if mensagens %}
                            <div class="alert-danger">
                                <strong>{{mensagens[0]}}</strong>
                            </div>
                            {% endif %}

                            <div class="form-outline mb-4">
                                <input name="nomeEventocad" type="text" id="nome" class="form-control form-control-lg"
                                       placeholder="Digite o nome do evento" required/>
                                <label class="form-label" for="nomeEventocad">Nome do evento</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="file" class="form-control" id="img_divulga-input" name="img_divulga" accept="image/*" onchange="displayImage(this)">
                                <input type="hidden" name="existing_photo" value="{{ foto }}">
                                <label class="form-label" >Imagem de divulgação (opcional)</label>
                                <label class="form-label" >Obs: A dimensão recomendada é de 1600 x 838</label>
                            </div>

                            <div class="form-outline mb-4">
                                <textarea rows="5" name="descricaocad" type="text" id="descricaocad"
                                          class="form-control form-control-lg"
                                          placeholder="Digite a descrição do evento" required></textarea>
                                <label class="form-label" for="descricaocad">Descrição do evento</label>
                            </div>

                            <div class="form-outline mb-4">
                                <select name="categoriacad" class="form-control form-control-lg"
                                        aria-label="Default select example" required>
                                    <option selected disabled value="">Selecione a categoria</option>
                                    <option value="1">Artes Dramáticas e Visuais</option>
                                    <option value="2">Atividades Escolares</option>
                                    <option value="3">Auto, Náutica e Aéreo</option>
                                    <option value="4">Caridade e causas</option>
                                    <option value="5">Casa e Estilo de Vida</option>
                                    <option value="6">Ciência e Tecnologia</option>
                                    <option value="7">Comida e bebida</option>
                                    <option value="8">Comunidade e Cultura</option>
                                    <option value="9">Esportes e Fitness</option>
                                    <option value="10">Família e Educação</option>
                                    <option value="11">Feriados e Festas Tradicionais</option>
                                    <option value="12">Filmes, Mídia e Entretenimento</option>
                                    <option value="13">Governo e Política</option>
                                    <option value="14">Moda e Beleza</option>
                                    <option value="15">Música</option>
                                    <option value="16">Negócios e Profissional</option>
                                    <option value="17">Outro</option>
                                    <option value="18">Passatempos e Interesses Especiais</option>
                                    <option value="19">Religião e Espiritualidade</option>
                                    <option value="20">Saúde e bem-estar</option>
                                    <option value="21">Viagens e Ao ar livre</option>
                                </select>
                                <label class="form-label" for="email">Categoria</label>
                            </div>

                            <div class="form-outline mb-4">
                                <select name="classificacaocad" class="form-control form-control-lg" aria-label="Default select example" required>
                                    <option selected disabled value="">Selecione a classificação indicativa</option>
                                    <option value="0">Livre</option>
                                    <option value="10">10 anos</option>
                                    <option value="12">12 anos</option>
                                    <option value="14">14 anos</option>
                                    <option value="16">16 anos</option>
                                    <option value="18">18 anos</option>
                                </select>
                                <label class="form-label" for="classificacaocad">Classificação Indicativa</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="totalParticipantescad" type="number" id="totalParticipantescad" class="form-control form-control-lg"
                                       placeholder="Digite o total de participantes" required min="0" step="1" oninput="validarValor(this)" />
                                <label class="form-label" for="totalParticipantescad">Total de Participantes</label>
                            </div>

                            <script>
                                // Função para validar e ajustar o valor digitado
                                function validarValor(input) {
                                    // Remove qualquer caractere que não seja número ou ponto
                                    input.value = input.value.replace(/[^0-9]/g, '');

                                    // Verifica se o valor é negativo e o ajusta para zero, se necessário
                                    if (input.value < 0) {
                                        input.value = 0;
                                    }
                                }
                            </script>

                            <h3 class="mb-5">Local do evento</h3>

                            <div class="form-outline mb-4">
                                <input name="endereco" type="text" id="endereco" class="form-control form-control-lg" placeholder="Digite o endereço" value="{{ endereco }}" required/>
                                <label class="form-label" for="endereco">Endereço</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="estado" type="text" id="estado" class="form-control form-control-lg" placeholder="Estado será preenchido automaticamente" value="{{ estado }}" readonly/>
                                <label class="form-label" for="cidade">Estado</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="cidade" type="text" id="cidade" class="form-control form-control-lg" placeholder="Cidade será preenchida automaticamente" value="{{ cidade }}" readonly/>
                                <label class="form-label" for="cidade">Cidade</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="bairro" type="text" id="bairro" class="form-control form-control-lg" placeholder="Bairro será preenchido automaticamente" value="{{ cidade }}" readonly/>
                                <label class="form-label" for="cidade">Bairro</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="rua" type="text" id="rua" class="form-control form-control-lg" placeholder="Rua será preenchida automaticamente" value="{{ rua }}" readonly/>
                                <label class="form-label" for="rua">Rua</label>
                            </div>

                            <input type="hidden" name="latitude" id="latitude">

                            <input type="hidden" name="longitude" id="longitude">

                            <input type="hidden" id="place_id" name="place_id">

                            <div class="form-outline mb-4">
                                <input name="numero" type="number" id="numero" class="form-control form-control-lg" placeholder="Número da residência será preenchido automaticamente" value="{{ numero }}" readonly/>
                                <label class="form-label" for="numero">Número da Residência</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="complemento" type="text" id="complemento" class="form-control form-control-lg"
                                       placeholder="Digite o complemento do endereço" required/>
                                <label class="form-label" for="complemento">Complemento do endereço</label>
                            </div>

                            <script>
                              function initializeAutocomplete() {
                                    var inputEndereco = document.getElementById('endereco');
                                    var inputNumeroResidencia = document.getElementById('numero');
                                    var inputRua = document.getElementById('rua');
                                    var inputCidade = document.getElementById('cidade');
                                    var inputEstado = document.getElementById('estado');
                                    var inputBairro = document.getElementById('bairro');
                                    var inputLatitude = document.getElementById('latitude');
                                    var inputLongitude = document.getElementById('longitude');
                                    var autocomplete = new google.maps.places.Autocomplete(inputEndereco, { types: ['geocode'] });

                                    autocomplete.addListener('place_changed', function () {
                                        var place = autocomplete.getPlace();

                                        if (!place.geometry) {
                                            console.error("Localização não encontrada para o endereço informado.");
                                            return;
                                        }

                                        // Preencher o campo de número da residência
                                        var numeroResidencia = getAddressComponent(place, 'street_number');
                                        inputNumeroResidencia.value = numeroResidencia || '';

                                        // Preencher o campo da rua
                                        inputRua.value = getAddressComponent(place, 'route') || '';

                                        // Preencher o campo da cidade e desabilitar para edição
                                        inputCidade.value = getAddressComponent(place, 'locality') || getAddressComponent(place, 'administrative_area_level_2');
                                        inputCidade.setAttribute('readonly', true);

                                        // Preencher o campo do estado e desabilitar para edição
                                        inputEstado.value = getAddressComponent(place, 'administrative_area_level_1') || '';
                                        inputEstado.setAttribute('readonly', true);

                                        // Preencher o campo do bairro
                                        inputBairro.value = getAddressComponent(place, 'sublocality') || '';

                                        // Preencher o campo do place_id, se necessário
                                        document.getElementById('place_id').value = place.place_id;

                                        inputLatitude.value = place.geometry.location.lat();
                                        inputLongitude.value = place.geometry.location.lng();
                                    });
                                }

                                function getAddressComponent(place, component) {
                                    for (var i = 0; i < place.address_components.length; i++) {
                                        var addressComponent = place.address_components[i];
                                        for (var j = 0; j < addressComponent.types.length; j++) {
                                            if (addressComponent.types[j] === component) {
                                                return addressComponent.long_name;
                                            }
                                        }
                                    }
                                    return '';
                                }

                                // Chame a função initializeAutocomplete para configurar o Autocomplete
                                initializeAutocomplete();
                            </script>
                            <h3 class="mb-5">Data e hora do evento</h3>

                            <div class="form-outline mb-4">
                                <input name="dataCad" type="date" id="dataCad"
                                       class="form-control form-control-lg" placeholder="Digite a data do evento"
                                       required/>
                                <label class="form-label" for="dataCad">Data inicial do evento</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input name="dataCadFin" type="date" id="dataCadFin"
                                       class="form-control form-control-lg" placeholder="Digite a data do evento"
                                       required/>
                                <label class="form-label" for="dataCad">Data final do evento</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="horCad" type="time" id="horCad"
                                       class="form-control form-control-lg" placeholder="Digite a hora do evento"
                                       required/>
                                <label class="form-label" for="horCad">Hora inicial do evento</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="horCadFin" type="time" id="horCadFin"
                                       class="form-control form-control-lg" placeholder="Digite a hora do evento"
                                       required/>
                                <label class="form-label" for="horCad">Hora final do evento</label>
                            </div>

                            <div class="container mt-5">
                                <div id="ingresso-container">
                                    <h3 class="mb-5">Ingresso do evento</h3>
                                    <!-- Primeiro ingresso -->
                                    <div class="form-outline mb-4 ingresso">
                                        <input name="titulo_ingresso[]" type="text" class="form-control form-control-lg" placeholder="Título do ingresso" required/>
                                        <label class="form-label" for="titulo_ingresso">Título do Ingresso</label>

                                        <input name="quantidade_ingresso[]" type="number" class="form-control form-control-lg" placeholder="Quantidade" oninput="validarQuantidade(this)" required/>
                                        <label class="form-label" for="quantidade_ingresso">Quantidade</label>

                                        <input name="preco_ingresso[]" id="preco_ingresso" type="text" class="form-control form-control-lg" placeholder="Preço" onKeyUp="mascaraMoeda(this, event)" required/>
                                        <label class="form-label" for="preco_ingresso">Preço</label>

                                        <input name="data_inicio_vendas[]" type="date" class="form-control form-control-lg" placeholder="Data início das vendas" required/>
                                        <label class="form-label" for="data_inicio_vendas">Data início das vendas</label>

                                        <input name="data_fim_vendas[]" type="date" class="form-control form-control-lg" placeholder="Data fim das vendas" required/>
                                        <label class="form-label" for="data_fim_vendas">Data fim das vendas</label>

                                        <input name="hora_inicio_vendas[]" type="time" class="form-control form-control-lg" placeholder="Hora início das vendas" required/>
                                        <label class="form-label" for="hora_inicio_vendas">Hora início das vendas</label>

                                        <input name="hora_fim_vendas[]" type="time" class="form-control form-control-lg" placeholder="Hora fim das vendas" required/>
                                        <label class="form-label" for="hora_fim_vendas">Hora fim das vendas</label>

                                        <select name="disponibilidade_ingresso[]" class="form-control form-control-lg" required>
                                            <option selected disabled value="">Selecione a disponibilidade</option>
                                            <option value="Publico">Público</option>
                                            <option value="Privado">Privado</option>
                                        </select>
                                        <label class="form-label" for="disponibilidade_ingresso">Disponibilidade</label>

                                        <input name="quantidade_maxima_compra[]" type="number" class="form-control form-control-lg" placeholder="Quantidade máxima por compra" oninput="validarQuantidade(this)" required/>
                                        <label class="form-label" for="quantidade_maxima_compra">Quantidade Máxima por Compra</label>

                                        <textarea name="observacao_ingresso[]" class="form-control form-control-lg" placeholder="Ex: Esse ingresso garante uma bebida, acesso ao camarote, etc."></textarea>
                                        <label class="form-label" for="observacao_ingresso">Observação do Ingresso (Opcional)</label>
                                    </div>
                                    <!-- Fim do primeiro ingresso -->
                                </div>
                                <div class="btn-container">
                                    <button type="button" class="btn btn-primary" onclick="adicionarIngresso()">Adicionar Ingresso</button>
                                    <button type="button" class="btn btn-danger" onclick="removerUltimoIngresso()">Remover Último Ingresso</button>
                                </div>
                            </div>

                            <script>
                                // Função para validar e ajustar a quantidade digitada
                                            function validarQuantidade(input) {
                                                // Remove qualquer caractere que não seja número
                                                input.value = input.value.replace(/\D/g, '');

                                                // Verifica se o valor é negativo e o ajusta para zero, se necessário
                                                if (input.value < 0) {
                                                    input.value = 0;
                                                }
                                            }
                                // Função para adicionar um novo ingresso
                                function adicionarIngresso() {
                                    var container = document.getElementById('ingresso-container');

                                    // Adiciona um separador entre os ingressos
                                    var separator = document.createElement('hr'); // Você pode usar um elemento de separação diferente ou estilizar conforme necessário
                                    container.appendChild(separator);

                                    var novoIngresso = document.querySelector('.ingresso').cloneNode(true);
                                    container.appendChild(novoIngresso);

                                    // Limpar os valores dos campos duplicados
                                    novoIngresso.querySelectorAll('input, textarea').forEach(function(element) {
                                        element.value = '';
                                    });
                                }

                                // Função para remover o último ingresso adicionado
                                function removerUltimoIngresso() {
                                    var container = document.getElementById('ingresso-container');
                                    var ingressos = container.querySelectorAll('.ingresso');
                                    var separadores = container.getElementsByTagName('hr');
                                    if (ingressos.length > 1) {
                                        container.removeChild(ingressos[ingressos.length - 1]);
                                        if (separadores.length > 0) {
                                            container.removeChild(separadores[separadores.length - 1]);
                                        }
                                    }
                                }

                                // Função para formatar o campo de preço como moeda
                                String.prototype.reverse = function(){
                                    return this.split('').reverse().join('');
                                };

                                function mascaraMoeda(campo,evento){
                                    var tecla = (!evento) ? window.event.keyCode : evento.which;
                                    var valor  =  campo.value.replace(/[^\d]+/gi,'').reverse();
                                    var resultado  = "";
                                    var mascara = "########.##".reverse();
                                    for (var x=0, y=0; x<mascara.length && y<valor.length;) {
                                        if (mascara.charAt(x) != '#') {
                                            resultado += mascara.charAt(x);
                                            x++;
                                        } else {
                                            resultado += valor.charAt(y);
                                            y++;
                                            x++;
                                        }
                                    }
                                    campo.value = resultado.reverse();
                                }
                            </script>
                            <div id="produtor-container">
                                <h3 class="mb-5">Sobre o produtor</h3>

                                <!-- Nome do Produtor -->
                                <div class="form-outline mb-4">
                                    <input name="nome_produtor" type="text" class="form-control form-control-lg" placeholder="Nome do produtor"/>
                                    <label class="form-label" for="nome_produtor">Nome do Produtor</label>
                                </div>

                                <!-- Descrição do Produtor (opcional) -->
                                <div class="form-outline mb-4">
                                    <textarea name="descricao_produtor" class="form-control form-control-lg" placeholder="Descrição do produtor"></textarea>
                                    <label class="form-label" for="descricao_produtor">Descrição do Produtor (Opcional)</label>
                                </div>
                            </div>

                            <div id="campos-adicionais-container">
                                <h3 class="mb-5">Campos adicionais</h3>
                                <form id="form-campos" action="/adicionar_campos" method="post">
                                    <!-- Campos dinâmicos -->
                                    <div class="campos-dinamicos">
                                        <!-- Adiciona o campo inicial -->
                                        <div class="form-outline mb-4">
                                            <input name="nome_campo[]" type="text" class="form-control form-control-lg" placeholder="Nome do campo"/>
                                            <label class="form-label" for="nome_campo">Nome do Campo</label>
                                        </div>
                                    </div>
                                    <!-- Botões Adicionar e Remover no final do último campo -->
                                    <div class="btn-container">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="adicionarCampo()">Adicionar Campo</button>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="removerCampo()">Remover Último Campo</button>
                                    </div>
                                </form>
                            </div>

                            <script>
                                function adicionarCampo() {
                                    var camposDinamicos = document.querySelector('.campos-dinamicos');

                                    var novoCampo = document.createElement('div');
                                    novoCampo.className = 'form-outline mb-4';
                                    novoCampo.innerHTML = `
                                        <input name="nome_campo[]" type="text" class="form-control form-control-lg" placeholder="Nome do campo" required/>
                                        <label class="form-label" for="nome_campo">Nome do Campo</label>`;

                                    camposDinamicos.appendChild(novoCampo);
                                }

                                function removerCampo() {
                                    var camposDinamicos = document.querySelector('.campos-dinamicos');

                                    // Certifica-se de que há mais de um campo antes de remover
                                    if (camposDinamicos.children.length > 1) {
                                        camposDinamicos.removeChild(camposDinamicos.lastElementChild);
                                    }
                                }
                            </script>
                            <div class="btn-container btn-criar-evento">
                                <button class="btn btn-primary btn-lg btn-block" type="submit" value="CriarEvento">
                                    Criar novo evento
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- JavaScript necessário para o Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
