<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quickevent</title>
  <link href="../static/styleNavBar.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a href="destaques" class="navbar-brand" href="#"><img src="../static/LogoFundo.png" alt="Logo do Site" style="max-height: 40px; max-width: 120px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form class="form-inline ml-right">
      <input class="form-control" type="search" placeholder="Buscar eventos" aria-label="Search">
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="InicioBuscarEvento" class="nav-link">Eventos participados</a>
      </li>
      <li class="nav-item">
        <a href="InicioCriarEvento" class="nav-link">Criar eventos</a>
      </li>
      <li class="nav-item">
        <a href="InicioGerenciarEventos" class="nav-link">Gerenciar eventos</a>
      </li>
<li class="nav-item dropdown">
  <a href="#" id="profileDropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <div class="d-flex align-items-center">
      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden;">
        <img src="data:image/jpeg;base64,{{ foto }}" alt="User Photo" class="profile-pic" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
    <a class="dropdown-item" href="InformacaoConta">Informações da conta</a>
    <a class="dropdown-item" href="/">Sair</a>
  </div>
</li>
<script>
  document.getElementById('profileDropdown').addEventListener('click', function() {
    document.getElementById('profileDropdown').nextElementSibling.classList.toggle('show');
  });
</script>
    </ul>
  </div>
</nav>

<!-- JavaScript necessário para o Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<section class="vh-100">
    <form action="CriarEvento" method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Criar novo evento</h3>
                            {% set mensagens = get_flashed_messages() %}
                            {% if mensagens %}
                            <div class="alert-danger">
                                <strong>{{mensagens[0]}}</strong>
                            </div>
                            {% endif %}

                            <div class="form-outline mb-4">
                                <input name="nomeEventocad" type="text" id="nome" class="form-control form-control-lg"
                                       placeholder="Digite o nome do evento" required/>
                                <label class="form-label" for="nomeEventocad">Nome do evento</label>
                            </div>

                            <div class="form-outline mb-4">
                                <textarea rows="5" name="descricaocad" type="text" id="descricaocad"
                                          class="form-control form-control-lg"
                                          placeholder="Digite a descrição do evento" required></textarea>
                                <label class="form-label" for="descricaocad">Descrição do evento</label>
                            </div>

                            <div class="form-outline mb-4">
                                <select name="categoriacad" class="form-control form-control-lg"
                                        aria-label="Default select example" required>
                                    <option selected disabled value="">Selecione a categoria</option>
                                    <option value="1">Artes Dramáticas e Visuais</option>
                                    <option value="2">Atividades Escolares</option>
                                    <option value="3">Auto, Náutica e Aéreo</option>
                                    <option value="4">Caridade e causas</option>
                                    <option value="5">Casa e Estilo de Vida</option>
                                    <option value="6">Ciência e Tecnologia</option>
                                    <option value="7">Comida e bebida</option>
                                    <option value="8">Comunidade e Cultura</option>
                                    <option value="9">Esportes e Fitness</option>
                                    <option value="10">Família e Educação</option>
                                    <option value="11">Feriados e Festas Tradicionais</option>
                                    <option value="12">Filmes, Mídia e Entretenimento</option>
                                    <option value="13">Governo e Política</option>
                                    <option value="14">Moda e Beleza</option>
                                    <option value="15">Música</option>
                                    <option value="16">Negócios e Profissional</option>
                                    <option value="17">Outro</option>
                                    <option value="18">Passatempos e Interesses Especiais</option>
                                    <option value="19">Religião e Espiritualidade</option>
                                    <option value="20">Saúde e bem-estar</option>
                                    <option value="21">Viagens e Ao ar livre</option>
                                </select>
                                <label class="form-label" for="email">Categoria</label>
                            </div>

                            <div class="form-outline mb-4">
                                <select name="classificacaocad" class="form-control form-control-lg" aria-label="Default select example" required>
                                    <option selected disabled value="">Selecione a classificação indicativa</option>
                                    <option value="Livre">Livre</option>
                                    <option value="10 anos">10 anos</option>
                                    <option value="12 anos">12 anos</option>
                                    <option value="14 anos">14 anos</option>
                                    <option value="16 anos">16 anos</option>
                                    <option value="18 anos">18 anos</option>
                                </select>
                                <label class="form-label" for="classificacaocad">Classificação Indicativa</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="totalParticipantescad" type="number" id="totalParticipantescad" class="form-control form-control-lg"
                                       placeholder="Digite o total de participantes" required/>
                                <label class="form-label" for="totalParticipantescad">Total de Participantes</label>
                            </div>

                            <h3 class="mb-5">Local do evento</h3>

                            <div class="form-outline mb-4">
                                <input name="endereco" type="text" id="endereco" class="form-control form-control-lg" placeholder="Digite o endereço" value="{{ endereco }}" required/>
                                <label class="form-label" for="endereco">Endereço</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="rua" type="text" id="rua" class="form-control form-control-lg" placeholder="Rua será preenchida automaticamente" value="{{ rua }}" readonly/>
                                <label class="form-label" for="rua">Rua</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="cidade" type="text" id="cidade" class="form-control form-control-lg" placeholder="Cidade será preenchida automaticamente" value="{{ cidade }}" readonly/>
                                <label class="form-label" for="cidade">Cidade</label>
                            </div>

                            <input type="hidden" id="place_id" name="place_id">

                            <div class="form-outline mb-4">
                                <input name="numero" type="number" id="numero" class="form-control form-control-lg" placeholder="Número da residência será preenchido automaticamente" value="{{ numero }}" readonly/>
                                <label class="form-label" for="numero">Número da Residência</label>
                            </div>

                            <h3 class="mb-5">Data e hora do evento</h3>

                            <div class="form-outline mb-4">
                                <input name="dataCad" type="date" id="dataCad"
                                       class="form-control form-control-lg" placeholder="Digite a data do evento"
                                       required/>
                                <label class="form-label" for="dataCad">Data inicial do evento</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input name="dataCad" type="date" id="dataCad"
                                       class="form-control form-control-lg" placeholder="Digite a data do evento"
                                       required/>
                                <label class="form-label" for="dataCad">Data final do evento</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="horCad" type="time" id="horCad"
                                       class="form-control form-control-lg" placeholder="Digite a hora do evento"
                                       required/>
                                <label class="form-label" for="horCad">Hora inicial do evento</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="horCad" type="time" id="horCad"
                                       class="form-control form-control-lg" placeholder="Digite a hora do evento"
                                       required/>
                                <label class="form-label" for="horCad">Hora final do evento</label>
                            </div>

                            <h3 class="mb-5">Ingresso do evento</h3>
                            <!-- Título do Ingresso -->
                            <div class="form-outline mb-4">
                                <input name="titulo_ingresso" type="text" class="form-control form-control-lg" placeholder="Título do ingresso" required/>
                                <label class="form-label" for="titulo_ingresso">Título do Ingresso</label>
                            </div>

                            <!-- Quantidade de Ingressos -->
                            <div class="form-outline mb-4">
                                <input name="quantidade_ingresso" type="number" class="form-control form-control-lg" placeholder="Quantidade" required/>
                                <label class="form-label" for="quantidade_ingresso">Quantidade</label>
                            </div>

                            <!-- Preço do Ingresso -->
                            <div class="form-outline mb-4">
                                <input name="preco_ingresso" type="text" class="form-control form-control-lg" placeholder="Preço" required/>
                                <label class="form-label" for="preco_ingresso">Preço</label>
                            </div>

                            <!-- Data início das vendas -->
                            <div class="form-outline mb-4">
                                <input name="data_inicio_vendas" type="date" class="form-control form-control-lg" placeholder="Data início das vendas" required/>
                                <label class="form-label" for="data_inicio_vendas">Data início das vendas</label>
                            </div>

                            <!-- Data fim das vendas -->
                            <div class="form-outline mb-4">
                                <input name="data_fim_vendas" type="date" class="form-control form-control-lg" placeholder="Data fim das vendas" required/>
                                <label class="form-label" for="data_fim_vendas">Data fim das vendas</label>
                            </div>

                            <!-- Hora início das vendas -->
                            <div class="form-outline mb-4">
                                <input name="hora_inicio_vendas" type="time" class="form-control form-control-lg" placeholder="Hora início das vendas" required/>
                                <label class="form-label" for="hora_inicio_vendas">Hora início das vendas</label>
                            </div>

                            <!-- Hora fim das vendas -->
                            <div class="form-outline mb-4">
                                <input name="hora_fim_vendas" type="time" class="form-control form-control-lg" placeholder="Hora fim das vendas" required/>
                                <label class="form-label" for="hora_fim_vendas">Hora fim das vendas</label>
                            </div>

                            <!-- Disponibilidade do Ingresso -->
                            <div class="form-outline mb-4">
                                <select name="disponibilidade_ingresso" class="form-control form-control-lg" required>
                                    <option selected disabled value="">Selecione a disponibilidade</option>
                                    <option value="Publico">Público</option>
                                    <option value="Privado">Privado</option>
                                </select>
                                <label class="form-label" for="disponibilidade_ingresso">Disponibilidade</label>
                            </div>

                            <!-- Quantidade máxima por compra -->
                            <div class="form-outline mb-4">
                                <input name="quantidade_maxima_compra" type="number" class="form-control form-control-lg" placeholder="Quantidade máxima por compra" required/>
                                <label class="form-label" for="quantidade_maxima_compra">Quantidade Máxima por Compra</label>
                            </div>

                            <!-- Observação do Ingresso -->
                            <div class="form-outline mb-4">
                                <textarea name="observacao_ingresso" class="form-control form-control-lg" placeholder="Ex: Esse ingresso garante uma bebida, acesso ao camarote, etc."></textarea>
                                <label class="form-label" for="observacao_ingresso">Observação do Ingresso (Opcional)</label>
                            </div>

                            <!-- Adicione outros campos de Ingresso aqui -->

                            <div class="btn-container">
                                <button type="button" class="btn btn-primary" onclick="adicionarIngresso()">Adicionar Ingresso</button>
                                <button type="button" class="btn btn-danger" onclick="removerUltimoIngresso()">Remover Último Ingresso</button>
                            </div>
                            <script>
                                function adicionarIngresso() {
                                    var container = document.getElementById('ingresso-container');

                                    // Campos do novo ingresso
                                    var novoIngresso = document.createElement('div');
                                    novoIngresso.className = 'form-outline mb-4';

                                    var inputTitulo = document.createElement('input');
                                    inputTitulo.name = 'titulo_ingresso[]';
                                    inputTitulo.type = 'text';
                                    inputTitulo.className = 'form-control form-control-lg';
                                    inputTitulo.placeholder = 'Título do ingresso';
                                    inputTitulo.required = true;

                                    var labelTitulo = document.createElement('label');
                                    labelTitulo.className = 'form-label';
                                    labelTitulo.textContent = 'Título do Ingresso';

                                    novoIngresso.appendChild(inputTitulo);
                                    novoIngresso.appendChild(labelTitulo);

                                    var inputQuantidade = document.createElement('input');
                                    inputQuantidade.name = 'quantidade_ingresso[]';
                                    inputQuantidade.type = 'number';
                                    inputQuantidade.className = 'form-control form-control-lg';
                                    inputQuantidade.placeholder = 'Quantidade';
                                    inputQuantidade.required = true;

                                    var labelQuantidade = document.createElement('label');
                                    labelQuantidade.className = 'form-label';
                                    labelQuantidade.textContent = 'Quantidade';

                                    novoIngresso.appendChild(inputQuantidade);
                                    novoIngresso.appendChild(labelQuantidade);

                                    // Adicione outros campos do ingresso aqui

                                    container.appendChild(novoIngresso);
                                }

                                function removerUltimoIngresso() {
                                    var container = document.getElementById('ingresso-container');
                                    var ingressos = container.getElementsByClassName('form-outline');

                                    if (ingressos.length > 1) {
                                        container.removeChild(ingressos[ingressos.length - 1]);
                                    }
                                }
                            </script>
                            <h3 class="mb-5">Sobre o produtor</h3>

                            <h3 class="mb-5">Campos adicionais</h3>

                            <button class="btn btn-primary btn-lg btn-block" type="submit" value="CriarEvento">
                                Criar novo evento
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>
