<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quickevent</title>
  <link href="../static/style/styleNavBarInformacoesEventos.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a href="destaques" class="navbar-brand" href="#"><img src="../static/LogoFundo.png" alt="Logo do Site" style="max-height: 40px; max-width: 120px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
<!-- Formulário com ação vazia para evitar o comportamento padrão de envio -->
<form id="searchForm" class="form-inline ml-right" action="buscar" style="position: relative; display: inline-block;">
  <!-- Adicione um ícone de pesquisa na imagem -->
  <a href="#" id="searchIcon" style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%); cursor: pointer;">
    <img src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%231DA1F2' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398l3.85 3.85a1 1 0 0 0 1.415-1.413l-3.848-3.835zM7 12.5a5.5 5.5 0 1 1 5.5-5.5 5.507 5.507 0 0 1-5.5 5.5z'/></svg>" style="max-height: 24px;">
  </a>
  <!-- Mantenha o input dentro do formulário -->
  <input name="filtro" id="searchInput" class="form-control" type="search" placeholder="Buscar eventos" aria-label="Search" style="width: calc(100% - 40px);">

</form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="InicioBuscarEvento" class="nav-link">Eventos participados</a>
      </li>
      <li class="nav-item">
        <a href="InicioCriarEvento" class="nav-link">Criar eventos</a>
      </li>
      <li class="nav-item">
        <a href="InicioGerenciarEventos" class="nav-link">Gerenciar eventos</a>
      </li>
<li class="nav-item dropdown">
  <a href="#" id="profileDropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <div class="d-flex align-items-center">
      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden;">
        <img src="data:image/jpeg;base64,{{ foto }}" alt="User Photo" class="profile-pic" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
    <a class="dropdown-item" href="InformacaoConta">Informações da conta</a>
    <a class="dropdown-item" href="/">Sair</a>
  </div>
</li>
<script>
  document.getElementById('profileDropdown').addEventListener('click', function() {
    document.getElementById('profileDropdown').nextElementSibling.classList.toggle('show');
  });
</script>
    </ul>
  </div>
</nav>


  <div class="container mt-4">
              {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <form action="/confirmaPresenca" method="post">
    {% for eventos in eventos %}
    <!-- Imagem do evento grande no topo da página -->
    <img src="data:image/jpeg;base64,{{ eventos.foto_evento }}" alt="Imagem de divulgação" class="event-image mb-4">
    <div class="row">
      <!-- Lado esquerdo: Detalhes do evento -->
      <div class="col-md-6">
        <input type="hidden" id="eventoPresenca" name="eventoPresenca" value="{{eventos.id_eventos}}">
        <p>Data e Hora do Evento: <strong>Data: {{eventos.data_evento}} - {{eventos.data_fim_evento}}, Hora: {{eventos.hora_evento}} - {{eventos.hora_fim_evento}}</strong></p>
        <h1>{{eventos.nome_evento}}</h1>
        <p>Categoria: <strong>{{eventos.descricao_categoria}}</strong></p>
        <p>Localização: <strong>{{eventos.local_evento}}</strong></p>
        <p>Descrição do Evento:</p>
        <p>{{eventos.descricao_evento}}</p>
      </div>
      {% endfor %}
      <!-- Lado direito: Opção de ingresso e botão de reserva -->
      <div class="col-md-6">

        <div class="mb-4">
          <label for="tipoIngresso">Selecione o Tipo de Ingresso:</label>
          <select class="form-control" id="tipoIngresso" name="tipoIngresso">
            {% for ingresso in ingresso %}
            <option value="{{ingresso.id_ingresso}}">{{ingresso.titulo_ingresso}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Confirmar presença</button>
        <button type="button" class="btn btn-danger" onclick="cancelarPresenca()">Cancelar presença</button>
      </div>
    </div>
    </form>
  </div>

<script>
  function cancelarPresenca() {
    var eventoPresenca = document.getElementById('eventoPresenca').value;
    var tipoIngressoSelecionado = document.getElementById('tipoIngresso').value;
    fetch('/cancelarPresenca', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ eventoPresenca: eventoPresenca, tipoIngresso: tipoIngressoSelecionado })
    })
    .then(response => {
      if (response.ok) {
        // A requisição foi bem sucedida
        console.log('Presença cancelada com sucesso!');
        // Aqui você pode adicionar qualquer lógica adicional, como atualizar a página
      } else {
        // A requisição falhou
        console.error('Falha ao cancelar presença.');
      }
    })
    .catch(error => {
      console.error('Erro ao processar a requisição:', error);
    });
  }
</script>

<!-- JavaScript necessário para o Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
