<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quickevent</title>
  <link href="../static/styleNavBar.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmLCHDE0BvppuDOpITU30gt0b5WysTSjE&libraries=places"></script>
<style>
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a href="destaques" class="navbar-brand" href="#"><img src="../static/LogoFundo.png" alt="Logo do Site" style="max-height: 40px; max-width: 120px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form class="form-inline ml-right">
      <input class="form-control" type="search" placeholder="Buscar eventos" aria-label="Search">
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="InicioBuscarEvento" class="nav-link">Eventos participados</a>
      </li>
      <li class="nav-item">
        <a href="InicioCriarEvento" class="nav-link">Criar eventos</a>
      </li>
      <li class="nav-item">
        <a href="InicioGerenciarEventos" class="nav-link">Gerenciar eventos</a>
      </li>
<li class="nav-item dropdown">
  <a href="#" id="profileDropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <div class="d-flex align-items-center">
      <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden;">
        <img src="../static/eu.jpg" alt="User Photo" class="profile-pic" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
    <a class="dropdown-item" href="#">Informações da conta</a>
    <a class="dropdown-item" href="/">Sair</a>
  </div>
</li>
<script>
  document.getElementById('profileDropdown').addEventListener('click', function() {
    document.getElementById('profileDropdown').nextElementSibling.classList.toggle('show');
  });
</script>
    </ul>
  </div>
</nav>

<!-- JavaScript necessário para o Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="container mt-5">
    <h2>Informações da Conta</h2>
    <div id="flash-container" style="background-color: #ff0000; color: #fff; border-radius: 5px; width: 300px;"></div>
    <form action="{{ url_for('salvar_informacoes') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="profile-pic">Foto de Perfil</label>
            <div class="d-flex align-items-center">
                <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; margin-right: 10px;">
                    <img src="{{ user_photo }}" alt="User Photo" class="profile-pic" id="profile-pic" style="max-width: 100%; height: auto;">
                </div>
                <input type="file" class="form-control" id="foto_nome"  value="{{ foto_nome }}" name="foto_nome" accept="image/*" onchange="displayImage(this)">
                <input type="file" class="form-control" id="profile-pic-input" name="profile_pic" accept="image/*" onchange="displayImage(this)">
            </div>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ nome }}" readonly>
        </div>
        <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" name="sobrenome" value="{{ sobrenome }}" readonly>
        </div>
        <div class="form-group">
            <label for="dob">Data de Nascimento</label>
            <input type="date" class="form-control" id="dob" name="dob">
        </div>
        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço">
        </div>

        <div class="form-group">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" placeholder="Rua será preenchida automaticamente" readonly>
        </div>

        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" placeholder="Cidade será preenchida automaticamente" readonly>
        </div>

        <input type="hidden" id="place_id" name="place_id">

        <div class="form-group">
            <label for="numeroresidencia">Número da Residência</label>
            <input type="number" class="form-control" id="numeroresidencia" placeholder="Número da residência será preenchido automaticamente" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Informações</button>
    </form>
</div>


<script>
    // Adicione a variável mensagem_erro para passar a mensagem do Flask para o HTML
    var mensagens_erro = {{ get_flashed_messages(with_categories=true) | tojson | safe }};

    // Exibir um flash se houver mensagens de erro
    mensagens_erro.forEach(function (mensagem) {
        var category = mensagem[0];
        var content = mensagem[1];

        // Crie e exiba o flash no formato Bootstrap alert
        var flashContainer = document.getElementById('flash-container');
        flashContainer.innerHTML += `
            <div class="alert alert-${category} alert-dismissible fade show" role="alert">
                ${content}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        `;
    });
    function initializeAutocomplete() {
        var inputEndereco = document.getElementById('endereco');
        var inputNumeroResidencia = document.getElementById('numeroresidencia');
        var inputRua = document.getElementById('rua');
        var inputCidade = document.getElementById('cidade');
        var autocomplete = new google.maps.places.Autocomplete(inputEndereco, { types: ['geocode'] });

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();

            if (!place.geometry) {
                console.error("Localização não encontrada para o endereço informado.");
                return;
            }

            // Preencher o campo de número da residência
            var numeroResidencia = getAddressComponent(place, 'street_number');
            inputNumeroResidencia.value = numeroResidencia || '';

            // Preencher o campo da rua
            inputRua.value = getAddressComponent(place, 'route') || '';

            // Preencher o campo da cidade e desabilitar para edição
            inputCidade.value = getAddressComponent(place, 'locality') || getAddressComponent(place, 'administrative_area_level_2');
            inputCidade.setAttribute('readonly', true);

            // Preencher o campo do place_id, se necessário
            document.getElementById('place_id').value = place.place_id;
        });
    }

    function getAddressComponent(place, component) {
        for (var i = 0; i < place.address_components.length; i++) {
            var addressComponent = place.address_components[i];
            for (var j = 0; j < addressComponent.types.length; j++) {
                if (addressComponent.types[j] === component) {
                    return addressComponent.long_name;
                }
            }
        }
        return '';
    }

    // Chame a função initializeAutocomplete para configurar o Autocomplete
    initializeAutocomplete();
</script>

</body>
</body>
</html>
