<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quickevent</title>
  <link href="../static/style/styleNavBarInformacoesEventos.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a href="destaques" class="navbar-brand" href="#"><img src="../static/LogoFundo.png" alt="Logo do Site" style="max-height: 40px; max-width: 120px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form id="searchForm" class="form-inline ml-right" action="buscar" style="position: relative; display: inline-block;">
      <div class="input-group" style="width: 400px;"> <!-- Definindo largura da div -->
        <input name="filtro" id="searchInput" type="text" class="form-control" placeholder="Buscar eventos">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="InicioEventosParticipados" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Eventos participados</a>
        </li>
        <li class="nav-item">
          <a href="InicioCriarEvento" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Criar eventos</a>
        </li>
        <li class="nav-item">
          <a href="InicioGerenciarEventos" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Gerenciar eventos</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" id="profileDropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <div class="d-flex align-items-center">
              <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden;">
                <img src="data:image/jpeg;base64,{{ foto }}" alt="User Photo" class="profile-pic" style="max-width: 100%; height: auto;">
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="InformacaoConta">Informações da conta</a>
            <a class="dropdown-item" href="/">Sair</a>
          </div>
        </li>
      </ul>
  </div>
</nav>


  <div class="container mt-4">
              {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id="flashMessages" class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <form action="/processarPresenca" method="post">
    {% for eventos in eventos %}
    <!-- Imagem do evento grande no topo da página -->
    <img src="data:image/jpeg;base64,{{ eventos.foto_evento }}" alt="Imagem de divulgação" class="event-image mb-4">
    <div class="row">
      <!-- Lado esquerdo: Detalhes do evento -->
      <div class="col-md-6">
        <input type="hidden" id="eventoPresenca" name="eventoPresenca" value="{{eventos.id_eventos}}">
        <p>
          <strong>Data início: {{eventos.data_evento.strftime('%d/%m/%Y')}} - Data fim: {{eventos.data_fim_evento.strftime('%d/%m/%Y')}},
          Hora: {{eventos.hora_evento}} - {{eventos.hora_fim_evento}}</strong>
        </p>
        <h1>{{eventos.nome_evento}}</h1>
        <p>Categoria: <strong>{{eventos.descricao_categoria}}</strong></p>
        <p>Localização: <strong>{{eventos.local_evento}}</strong></p>
        <p>Descrição do Evento:</p>
        <p>{{eventos.descricao_evento}}</p>
      </div>
      {% endfor %}
      <!-- Lado direito: Opção de ingresso e botão de reserva -->
      <div class="col-md-6">

        <div class="mb-4">
          <label for="tipoIngresso">Selecione o Tipo de Ingresso:</label>
          <select class="form-control" id="tipoIngresso" name="tipoIngresso">
            {% for ingresso in ingresso %}
                <option value="{{ ingresso.id_ingresso }}" data-quantidade="{{ ingresso.quantidade_convites }}">{{ ingresso.titulo_ingresso }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="quantidadeConvites">Quantidade de Convites:</label>
                <input type="text" class="form-control" id="quantidadeConvites" name="quantidadeConvites">
            </div>
            <div class="col">
                <small id="convitesHelpBlock" class="form-text text-danger"></small>
            </div>
        </div>
          <button type="submit" class="btn btn-primary" name="acao" value="confirmar_presenca">Confirmar presença</button>
          <button type="submit" class="btn btn-danger" name="acao" value="cancelar_presenca">Cancelar presença</button>
          <button type="submit" class="btn btn-light" name="acao" value="complementar" style="margin-top: 10px;">Informações complementares</button>
      </div>
    </div>
    </form>
  </div>
<script>
  // Adicione um ouvinte de evento para o evento 'change' no select
  document.getElementById('tipoIngresso').addEventListener('change', function() {
    // Obtenha o elemento select
    var select = document.getElementById('tipoIngresso');
    // Obtenha a opção selecionada
    var option = select.options[select.selectedIndex];
    // Obtenha o valor do atributo data-quantidade da opção selecionada
    var quantidade = option.getAttribute('data-quantidade');
    // Defina o valor do campo quantidadeConvites com a quantidade obtida
    document.getElementById('quantidadeConvites').value = quantidade;
  });
</script>
<div class="floating-button">
  <button onclick="compartilharEvento()"><img src="../static/icon-compartilhar.png" alt="Compartilhar"></button>
</div>
<script>
function cancelarPresenca() {
    var eventoPresenca = document.getElementById('eventoPresenca').value;
    var tipoIngressoSelecionado = document.getElementById('tipoIngresso').value;

    fetch('/cancelarPresenca', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ eventoPresenca: eventoPresenca, tipoIngresso: tipoIngressoSelecionado })
    })
    .then(response => {
        if (response.ok) {
            // Obtenha o valor do campo de entrada oculto 'eventoPresenca'
                var eventoPresenca = document.getElementById('eventoPresenca').value;

                // Dados a serem enviados no corpo da solicitação
                var formData = new FormData();

                // Adicione os campos e valores ao objeto FormData
                formData.append('eventoPresenca', '25');
                formData.append('botaoDetalhes', '25');

                fetch('/InformacoesEventos', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: formData
                }).then(response => {
                    // Trate a resposta, se necessário
                    if (response.ok) {
                        // Redirecione após a conclusão da solicitação POST
                        window.location.href = '/InformacoesEventos';
                    } else {
                        console.error('Erro ao enviar a requisição POST.');
                    }
                }).catch(error => {
                    console.error('Erro ao enviar a requisição POST:', error);
                });
        } else {
            // A requisição falhou
            console.error('Falha ao cancelar presença.');
        }
    })
    .catch(error => {
        console.error('Erro ao processar a requisição:', error);
    });
}

    window.onload = function() {
        // Coloque o código que você deseja executar aqui
        var tipoIngresso = document.getElementById('tipoIngresso');
        var quantidadeConvitesInput = document.getElementById('quantidadeConvites');
        var selectedOption = tipoIngresso.options[tipoIngresso.selectedIndex];
        var quantidadeDisponivel = selectedOption.getAttribute('data-quantidade');

        // Atualiza o valor do campo de quantidade com a quantidade disponível do ingresso selecionado
        quantidadeConvitesInput.value = quantidadeDisponivel;
    };

    document.getElementById('tipoIngresso').addEventListener('change', function() {
        var selectedOption = this.options[this.selectedIndex];
        var quantidadeConvitesInput = document.getElementById('quantidadeConvites');
        var quantidadeDisponivel = selectedOption.getAttribute('data-quantidade');

        // Atualiza o valor do campo de quantidade com a quantidade disponível do ingresso selecionado
        quantidadeConvitesInput.value = quantidadeDisponivel;
    });

    document.getElementById('quantidadeConvites').addEventListener('input', function(event) {
        var input = event.target;
        var value = input.value.trim();
        var errorMessage = '';

        // Remove caracteres não numéricos
        input.value = value.replace(/\D/g, '');

        // Verifica se o valor é um número inteiro
        if (!/^\d+$/.test(value)) {
            errorMessage = 'Por favor, insira apenas números inteiros.';
        }

        // Atualiza a mensagem de erro
        var errorElement = document.getElementById('convitesHelpBlock');
        errorElement.textContent = errorMessage;
    });
  function compartilharEvento() {
    var eventoPresenca = document.getElementById('eventoPresenca').value;
    var linkEvento = "https://www.quickevent.com.br/InformacoesEventosLink?eventoLink=" + eventoPresenca;

    navigator.share({ url: linkEvento })
      .then(() => console.log('Evento compartilhado com sucesso'))
      .catch((error) => console.error('Erro ao compartilhar evento:', error));
  }
</script>

</script>

<!-- JavaScript necessário para o Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
