<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link href="../static/styleNavBar.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        .evento-imagem {
            max-width: 100%; /* Defina o máximo de largura que desejar */
            height: auto; /* Isso garante que a altura seja ajustada automaticamente */
        }
        #mapaDosEventos {
            height: 450px; /* Defina a altura do mapa */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a href="destaques" class="navbar-brand" href="#"><img src="../static/LogoFundo.png" alt="Logo do Site" style="max-height: 40px; max-width: 120px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Formulário com ação vazia para evitar o comportamento padrão de envio -->
        <form id="searchForm" class="form-inline ml-right" action="buscar" style="position: relative; display: inline-block;">
            <!-- Adicione um ícone de pesquisa na imagem -->
            <a href="#" id="searchIcon" style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                <img src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%231DA1F2' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398l3.85 3.85a1 1 0 0 0 1.415-1.413l-3.848-3.835zM7 12.5a5.5 5.5 0 1 1 5.5-5.5 5.507 5.507 0 0 1-5.5 5.5z'/></svg>" style="max-height: 24px;">
            </a>
            <!-- Mantenha o input dentro do formulário -->
            <input name="filtro" id="searchInput" class="form-control" type="search" placeholder="Buscar eventos" aria-label="Search" style="width: calc(100% - 40px);">
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filtros</h5>
                    <form>
                        <div class="mb-3">
                            <label for="dataInicial" class="form-label">Data Inicial:</label>
                            <input type="date" class="form-control" id="dataInicial" name="dataInicial">
                        </div>
                        <div class="mb-3">
                            <label for="dataFinal" class="form-label">Data Final:</label>
                            <input type="date" class="form-control" id="dataFinal" name="dataFinal">
                        </div>
                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoria:</label>
                            <select class="form-select" id="categoria" name="categoria">
                                <option value="todos">Todos</option>
                                <option value="festa">Festa</option>
                                <option value="teatro">Teatro</option>
                                <option value="show">Show</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1>Eventos Próximos</h1>
            <!-- Aqui serão listados os eventos -->
        </div>
        <div class="col-md-5">
            <div class="map">
                <h2>Mapa dos Eventos</h2>
                <div id="mapaDosEventos"></div> <!-- Div para conter o mapa -->
            </div>
        </div>
    </div>
</div>

<script>
    function initMap(latitude, longitude) {
        var coordenadas = { lat: latitude, lng: longitude };
        var map = new google.maps.Map(document.getElementById('mapaDosEventos'), {
            zoom: 15, // Zoom inicial
            center: coordenadas // Centro do mapa
        });

        var marker = new google.maps.Marker({
            position: coordenadas,
            map: map,
            icon: {
                url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png', // URL da imagem do marcador
                size: new google.maps.Size(50, 70), // Tamanho da imagem
                origin: new google.maps.Point(0, 0), // Ponto de origem da imagem
                anchor: new google.maps.Point(25, 70) // Ponto de ancoragem do marcador
            }
        });

        // Role a página até o elemento do mapa
        window.scrollTo({
            top: document.getElementById('mapaDosEventos').offsetTop, // Obtenha a posição superior do elemento do mapa
            behavior: 'smooth' // Rola suavemente
        });
    }

    function showLocation(latitude, longitude) {
        // Chame a função initMap com as coordenadas
        initMap(latitude, longitude);
    }
</script
