<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quickevent</title>
  <link href="../static/style/styleNavBarUsuarioOrganizador.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <style>
        body {
          background-color: #d2d4d6;
        }
        .filled-button {
            background-color: #00549A;
            color: white;
            border: none;
            border-radius: 5mm;
            padding: 8px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .filled-buttonRed {
            background-color: red;
            color: white;
            border: none;
            border-radius: 5mm;
            padding: 8px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .filled-button:hover {
            background-color: #feb930;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a href="destaques" class="navbar-brand" href="#"><img src="../static/LogoFundo.png" alt="Logo do Site" style="max-height: 40px; max-width: 120px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form id="searchForm" class="form-inline ml-right" action="buscar" style="position: relative; display: inline-block;">
      <div class="input-group" style="width: 400px;">
        <input name="filtro" id="searchInput" type="text" class="form-control" placeholder="Buscar eventos">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="InicioEventosParticipados" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Eventos participados</a>
        </li>
        <li class="nav-item">
          <a href="InicioCriarEvento" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Criar eventos</a>
        </li>
        <li class="nav-item">
          <a href="InicioGerenciarEventos" class="nav-link" style="color: white;" onmouseover="this.style.color='#feb930';" onmouseout="this.style.color='white';">Gerenciar eventos</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" id="profileDropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <div class="d-flex align-items-center">
              <div style="width: 30px; height: 30px; border-radius: 50%; overflow: hidden;">
                <img src="data:image/jpeg;base64,{{ foto }}" alt="User Photo" class="profile-pic" style="max-width: 100%; height: auto;">
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="InformacaoConta">Informações da conta</a>
            <a class="dropdown-item" href="/">Sair</a>
          </div>
        </li>
      </ul>
  </div>
</nav>


<section class="vh-100">
  <div class="container py-5 h-100">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="nav-container" style="background-color: white;">
            <form action="/alteraaba" method="post" enctype="multipart/form-data">
              <ul class="nav flex-column nav-pills">
                <input type="hidden" id="eventoPresenca" name="eventoPresenca" value="{{eventos[0]}}">
                       <li class="nav-item">
                            <button type="submit" class="nav-link btn btn-clean" name="aba" value="dadosEvento">Dados do Evento</button>
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="nav-link active btn btn-clean" name="aba" value="usuariosOrganizadores">Usuários Organizadores</button>
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="nav-link btn btn-clean" name="aba" value="chatOrganizadores">Chat dos Organizadores</button>
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="nav-link btn btn-clean" name="aba" value="listaParticipantes">Lista de Participantes</button>
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="nav-link btn btn-clean" name="aba" value="avaliacoes">Avaliações</button>
                        </li>
              </ul>
            </form>
          </div>
        </div>

        <div class="col-md-9">
        <div class="card mb-4 rounded">
         <div class="card-body">
          <h2>Adicionar Usuários Organizadores</h2>
          <!-- Input de pesquisa -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchUserInput" placeholder="Nome do usuário" aria-label="Nome do usuário" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="searchUserButton"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <!-- Lista de usuários -->
          <ul class="list-group" id="usuariosList">
            <!-- Os usuários retornados pela pesquisa serão adicionados aqui -->
          </ul>
          <h3>Lista de Organizadores</h3>
          <section id="usuarios-section">
            <ul>
              {% for usuario in usuarios %}
                <li>
                  <span>{{ usuario[0]|string }} - {{ usuario[1] }} {{ usuario[2] }}</span>
                  <button class="btn btn-primary filled-buttonRed" data-id="{{ usuario[0] }}">Remover</button>
                </li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
     </div>
     </div>
    </div>
  </div>
</section>

<!-- JavaScript necessário para o Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
// Função para realizar a pesquisa de usuários
function pesquisarUsuarios() {
  var nomeUsuario = $('#searchUserInput').val();
  var eventoPresenca = $('#eventoPresenca').val();

  if (nomeUsuario.trim() !== '') {
    // Envia a solicitação AJAX para a rota Flask
    $.ajax({
      type: 'GET',
      url: '/buscar_usuario',
      data: { nome: nomeUsuario, eventoPresenca: eventoPresenca },
      success: function(data) {
        $('#usuariosList').empty(); // Limpa a lista de usuários
        if (data.usuarios.length === 0) {
          alert('Nenhum usuário encontrado.');
        } else {
          $.each(data.usuarios, function(index, usuario) {
            $('#usuariosList').append('<li class="list-group-item">' + usuario.id_usuario + ' - ' + usuario.nome_completo + '<button type="button" class="btn btn-primary filled-button" onclick="adicionarOrganizador(' + usuario.id_usuario + ', ' + eventoPresenca + ')">Adicionar</button></li>');
          });
        }
      },
      error: function(xhr, status, error) {
        console.error(xhr.responseText);
      }
    });
  } else {
    alert('Por favor, insira um nome de usuário para pesquisar.');
  }
}

// Associar a função de pesquisa ao clique do botão de pesquisa
$('#searchUserButton').click(pesquisarUsuarios);

// Função para adicionar um usuário como organizador
function adicionarOrganizador(idUsuario, eventoPresenca) {
  $.ajax({
    type: 'POST',
    url: '/adicionar_organizador',
    data: { id_usuario: idUsuario, eventoPresenca: eventoPresenca },
    success: function(response) {
      alert(response);
      //atualizarOrganizadores(eventoPresenca);
      location.reload();
    },
    error: function(xhr, status, error) {
      console.error(xhr.responseText);
      alert('Ocorreu um erro ao adicionar o usuário como organizador.');
    }
  });
}

// Função para atualizar a lista de usuários organizadores
function atualizarOrganizadores(eventoPresenca) {
  $.ajax({
    type: 'GET',
    url: '/obter_organizadores',
    data: { id_evento: eventoPresenca },
    success: function(data) {
      $('#usuariosList').empty(); // Limpa a lista de usuários
      $.each(data.organizadores, function(index, organizador) {
        var buttonHtml = '<button type="button" class="btn btn-sm btn-danger float-right" onclick="removerOrganizador(' + organizador.id_usuario + ', ' + eventoPresenca + ')">Remover</button>';
        $('#usuariosList').append('<li class="list-group-item">' + organizador.id_usuario + ' - ' + organizador.nome_completo + buttonHtml + '</li>');
      });
    },
    error: function(xhr, status, error) {
      console.error(xhr.responseText);
    }
  });
}

// Remover usuário
$('.remove-button').click(function() {
  var userId = $(this).data('id');
  var eventoPresenca = $('#eventoPresenca').val();
  removerUsuario(userId, eventoPresenca);
});

function removerUsuario(userId, eventoPresenca) {
  $.ajax({
    type: 'POST',
    url: '/remover_usuario',
    data: JSON.stringify({ userId: userId, eventoPresenca: eventoPresenca }),
    contentType: 'application/json',
    success: function(response) {
      alert('Usuário removido com sucesso!');
      location.reload();
    },
    error: function(xhr, status, error) {
      console.error('Erro ao remover o usuário:', xhr.responseText);
    }
  });
}
</script>

</body>
</html>