<section class="vh-100">
    <form action="{{ url_for('CriarEvento') }}" method="post" enctype="multipart/form-data">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-4 text-center">
                            <h2 class="card-title text-left">Criar novo evento</h2>
                                <div class="card mb-4 rounded">
                                    <div class="card-body">
                                        <h3 class="card-title text-left">Dados gerais</h3>
                                        {% set mensagens = get_flashed_messages() %}
                                        {% if mensagens %}
                                        <div class="alert alert-danger">
                                            <strong>{{mensagens[0]}}</strong>
                                        </div>
                                        {% endif %}

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="nomeEventocad">Nome do evento</label>
                                                    <input name="nomeEventocad" type="text" id="nome" class="form-control form-control-lg"
                                                        placeholder="Digite o nome do evento" required/>
                                                </div>

                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="descricaocad">Descrição do evento</label>
                                                    <textarea rows="5" name="descricaocad" type="text" id="descricaocad"
                                                        class="form-control form-control-lg"
                                                        placeholder="Digite a descrição do evento" required></textarea>
                                                </div>

                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="totalParticipantescad">Total de Participantes</label>
                                                    <input name="totalParticipantescad" type="number" id="totalParticipantescad" class="form-control form-control-lg"
                                                        placeholder="Digite o total de participantes" required min="0" step="1" oninput="validarValor(this)" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" >Imagem de divulgação (opcional)</label>
                                                    <label class="form-label" >Obs: A dimensão recomendada é de 1600 x 838</label>
                                                    <input type="file" class="form-control" id="img_divulga-input" name="img_divulga" accept="image/*" onchange="displayImage(this)">
                                                    <input type="hidden" name="existing_photo" value="{{ foto }}">
                                                </div>

                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="email">Categoria</label>
                                                    <select name="categoriacad" class="form-control form-control-lg"
                                                        aria-label="Default select example" required>
                                                        <option selected disabled value="">Selecione a categoria</option>
                                                        <option value="1" >Artes Dramáticas e Visuais</option>
                                                        <option value="2" >Atividades Escolares</option>
                                                        <option value="3" >Auto, Náutica e Aéreo</option>
                                                        <option value="4" >Caridade e causas</option>
                                                        <option value="5" >Casa e Estilo de Vida</option>
                                                        <option value="6" >Ciência e Tecnologia</option>
                                                        <option value="7" >Comida e bebida</option>
                                                        <option value="8" >Comunidade e Cultura</option>
                                                        <option value="9" >Esportes e Fitness</option>
                                                        <option value="10" >Família e Educação</option>
                                                        <option value="11" >Feriados e Festas Tradicionais</option>
                                                        <option value="12" >Filmes, Mídia e Entretenimento</option>
                                                        <option value="13" >Governo e Política</option>
                                                        <option value="14" >Moda e Beleza</option>
                                                        <option value="15" >Música</option>
                                                        <option value="16" >Negócios e Profissional</option>
                                                        <option value="17" >Outro</option>
                                                        <option value="18" >Passatempos e Interesses Especiais</option>
                                                        <option value="19" >Religião e Espiritualidade</option>
                                                        <option value="20" >Saúde e bem-estar</option>
                                                        <option value="21" >Viagens e Ao ar livre</option>
                                                    </select>
                                                </div>

                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="classificacaocad">Classificação Indicativa</label>
                                                    <select name="classificacaocad" class="form-control form-control-lg" aria-label="Default select example" required>
                                                        <option selected disabled value="">Selecione a classificação indicativa</option>
                                                        <option value="0" >Livre</option>
                                                        <option value="10" >10 anos</option>
                                                        <option value="12" >12 anos</option>
                                                        <option value="14" >14 anos</option>
                                                        <option value="16" >16 anos</option>
                                                        <option value="18" >18 anos</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card mb-4 rounded">
                                    <div class="card-body">
                                        <h3 class="card-title text-left">Local do evento</h3>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="endereco">Endereço</label>
                                                    <input name="endereco" type="text" id="endereco" class="form-control form-control-lg" placeholder="Digite o endereço" value="{{ endereco }}" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="cidade">Cidade</label>
                                                    <input name="cidade" type="text" id="cidade" class="form-control form-control-lg" placeholder="Cidade será preenchida automaticamente" value="{{ cidade }}" readonly/>
                                                </div>

                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="cidade">Bairro</label>
                                                    <input name="bairro" type="text" id="bairro" class="form-control form-control-lg" placeholder="Bairro será preenchido automaticamente" value="{{ cidade }}" readonly/>
                                                </div>

                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="numero">Número da Residência</label>
                                                    <input name="numero" type="number" id="numero" class="form-control form-control-lg" placeholder="Número da residência será preenchido automaticamente" value="{{ numero }}" readonly/>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="estado">Estado</label>
                                                    <input name="estado" type="text" id="estado" class="form-control form-control-lg" placeholder="Estado será preenchido automaticamente" value="{{ estado }}" readonly/>
                                                </div>

                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="rua">Rua</label>
                                                    <input name="rua" type="text" id="rua" class="form-control form-control-lg" placeholder="Rua será preenchida automaticamente" value="{{ rua }}" readonly/>
                                                </div>

                                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                    <label class="form-label" for="complemento">Complemento do endereço</label>
                                                    <input name="complemento" type="text" id="complemento" class="form-control form-control-lg" placeholder="Digite o complemento do endereço" required/>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="latitude" id="latitude">
                                        <input type="hidden" name="longitude" id="longitude">
                                        <input type="hidden" id="place_id" name="place_id">
                                    </div>
                                </div>

                        <div class="card mb-4 rounded">
                            <div class="card-body">
                                <h3 class="card-title text-left">Data e hora do evento</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                            <label class="form-label" for="dataCad">Data inicial do evento</label>
                                            <input name="dataCad" type="date" id="dataCad"
                                                   class="form-control form-control-lg" placeholder="Digite a data do evento"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                            <label class="form-label" for="horCad">Hora inicial do evento</label>
                                            <input name="horCad" type="time" id="horCad"
                                                   class="form-control form-control-lg" placeholder="Digite a hora do evento"
                                                   required/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                            <label class="form-label" for="dataCadFin">Data final do evento</label>
                                            <input name="dataCadFin" type="date" id="dataCadFin"
                                                   class="form-control form-control-lg" placeholder="Digite a data do evento"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                            <label class="form-label" for="horCadFin">Hora final do evento</label>
                                            <input name="horCadFin" type="time" id="horCadFin"
                                                   class="form-control form-control-lg" placeholder="Digite a hora do evento"
                                                   required/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                     <div class="card mb-4 rounded">
                       <div class="card-body">
                           <div id="produtor-container">
                               <h3 class="card-title text-left">Sobre o produtor</h3>
                                    <!-- Nome do Produtor -->
                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <label class="form-label" for="nome_produtor">Nome do Produtor</label>
                                        <input name="nome_produtor" type="text" class="form-control form-control-lg" placeholder="Nome do produtor"/>
                                </div>

                                    <!-- Descrição do Produtor (opcional) -->
                                <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <label class="form-label" for="descricao_produtor">Descrição do Produtor (Opcional)</label>
                                        <textarea name="descricao_produtor" class="form-control form-control-lg" placeholder="Descrição do produtor"></textarea>
                                    </div>
                           </div>
                       </div>
                     </div>
                     <div class="card mb-4 rounded">
                       <div class="card-body">
                                <div id="campos-adicionais-container">
                                    <h3 class="card-title text-left">Campos adicionais</h3>
                                    <form id="form-campos" action="/adicionar_campos" method="post">
                                        <!-- Campos dinâmicos -->
                                        <div class="campos-dinamicos">
                                            <!-- Adiciona o campo inicial -->
                                        <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                <label class="form-label" for="nome_campo">Nome do Campo</label>
                                                <input name="nome_campo[]" type="text" class="form-control form-control-lg" placeholder="Nome do campo"/>
                                            </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 text-center">
                                      <button type="button" class="btn btn-primary" onclick="adicionarCampo()">Adicionar Campo</button>
                                    </div>
                                </div>
                                        </div>
                                </form>
                            </div>
                            </div>
                            </div>
                            <div class="card rounded">
                                <div class="card-body">
                                    <h3 class="card-title text-left">Ingresso do evento</h3>
                                    <div class="row ingresso">
                                        <div class="col-md-6">
                                            <div class="ingresso">
                                            <!-- Primeiro ingresso -->
                                            <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                <label class="form-label" for="titulo_ingresso">Título do Ingresso</label>
                                                <input name="titulo_ingresso[]" type="text" class="form-control form-control-lg" placeholder="Título do ingresso" style="width: 100%;" required/>
                                            </div>
                                            <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                <label class="form-label" for="data_inicio_vendas"> Data início das vendas</label>
                                                <input name="data_inicio_vendas[]" type="date" class="form-control form-control-lg" placeholder="Data início das vendas" required/>
                                            </div>
                                            <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                <label class="form-label" for="data_fim_vendas">Data fim das vendas</label>
                                                <input name="data_fim_vendas[]" type="date" class="form-control form-control-lg" placeholder="Data fim das vendas" required/>
                                            </div>
                                            <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                <label class="form-label" for="preco_ingresso">Preço</label>
                                                <input name="preco_ingresso[]" id="preco_ingresso" type="text" class="form-control form-control-lg" placeholder="Preço" onKeyUp="mascaraMoeda(this, event)" required/>
                                            </div>
                                            <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                            <label class="form-label" for="disponibilidade_ingresso">Disponibilidade</label>
                                            <select name="disponibilidade_ingresso[]" class="form-control form-control-lg" required>
                                                <option selected disabled value="">Selecione a disponibilidade</option>
                                                <option value="Publico">Público</option>
                                                <option value="Privado">Privado</option>
                                            </select>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                         <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                             <label class="form-label" for="quantidade_ingresso">Quantidade</label>
                                             <input name="quantidade_ingresso[]" type="number" class="form-control form-control-lg" placeholder="Quantidade" oninput="validarQuantidade(this)" required/>
                                         </div>
                                         <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                              <label class="form-label" for="hora_inicio_vendas">Hora início das vendas</label>
                                              <input name="hora_inicio_vendas[]" type="time" class="form-control form-control-lg" placeholder="Hora início das vendas" required/>
                                         </div>
                                         <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                              <label class="form-label" for="hora_fim_vendas">Hora fim das vendas</label>
                                              <input name="hora_fim_vendas[]" type="time" class="form-control form-control-lg" placeholder="Hora fim das vendas" required/>
                                        </div>
                                        <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                            <label class="form-label" for="quantidade_maxima_compra">Quantidade Máxima por Compra</label>
                                            <input name="quantidade_maxima_compra[]" type="number" class="form-control form-control-lg" placeholder="Quantidade máxima por compra" oninput="validarQuantidade(this)" required/>
                                        </div>


                                        <div class="form-outline mb-4" style="display: flex; flex-direction: column; align-items: flex-start;">
                                            <label class="form-label" for="observacao_ingresso">Observação do Ingresso (Opcional)</label>
                                            <textarea name="observacao_ingresso[]" class="form-control form-control-lg" placeholder="Ex: Esse ingresso garante uma bebida, acesso ao camarote, etc."></textarea>
                                        </div>
                                        <!-- Fim do primeiro ingresso -->
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 text-center">
                                        <button type="button" class="btn btn-primary" onclick="adicionarIngresso()">Adicionar Ingresso</button>
                                    </div>
                                </div>
                            </div>
                          </div>
                         </div>

                            <div class="btn-container btn-criar-evento mb-4 mr-4 ml-4">
                                <button class="btn btn-primary btn-lg btn-block" type="submit" value="CriarEvento">
                                    Criar novo evento
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </form>
</section>