 /* Estilo personalizado para a navbar */
    .navbar-custom {
      background-color: #00549A; /* Cor de fundo da navbar */
      min-height: 80px; /* Altura mínima da navbar */
    }
    .navbar-custom .navbar-brand {
      color: #ffffff; /* Cor do texto do logo */
    }
    /* Aumenta o tamanho da navbar em telas menores */
    @media (max-width: 768px) {
      .navbar-custom {
        min-height: 60px; /* Ajuste de altura para telas menores */
      }
    }

    .carousel {
      width: 100%;
    }

    .carousel-item img {
      width: 100%;
      height: auto;
    }

    .small-images {
      text-align: center;
      margin-top: 20px;
    }

    .small-images img {
      height: auto;
      margin: 0 10px; /* Add some spacing between the images */
    }
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 4rem; /* Ajuste o tamanho conforme necessário */
        height: 4rem; /* Ajuste o tamanho conforme necessário */
        line-height: 4rem; /* Ajuste o tamanho conforme necessário */
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    .increased-size {
        width: 800px; /* ajuste o tamanho conforme necessário */
    }
  /* Cor do texto amarelo ao passar o mouse
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active {
    color: #feb930;
}*/
    .navbar-nav .nav-link {
        color: #feb930; /* Cor amarela */
    }