 /* Estilo personalizado para a navbar */
    .navbar-custom {
      background-color: #00549A; /* Cor de fundo da navbar */
      min-height: 80px; /* Altura mínima da navbar */
    }
    .navbar-custom .navbar-brand {
      color: #ffffff; /* Cor do texto do logo */
    }
    /* Aumenta o tamanho da navbar em telas menores */
    @media (max-width: 768px) {
      .navbar-custom {
        min-height: 60px; /* Ajuste de altura para telas menores */
      }
    }

    .carousel {
      width: 100%;
    }

    .carousel-item img {
      width: 100%;
      height: auto;
    }

    .small-images {
      text-align: center;
      margin-top: 20px;
    }

    .small-images img {
      height: auto;
      margin: 0 10px; /* Add some spacing between the images */
    }

    .btn-container {
        display: flex;
        gap: 10px; /* Ajuste este valor para o espaçamento desejado */
    }
    .btn-container button {
        flex: 1; /* Distribui o espaço igualmente entre os botões */
    }
    .btn-criar-evento {
            margin-top: 15px;
    }
    .nav-container {
        border: 1px solid #ccc; /* Borda sólida com cor cinza */
        border-radius: 5px; /* Cantos arredondados */
        padding: 10px; /* Espaçamento interno */
    }

    .btn-clean {
        border: none;
        background-color: transparent;
        color: #007bff; /* cor do texto azul */
    }

    .btn-clean:hover {
        background-color: rgba(0, 123, 255, 0.1); /* cor de fundo ao passar o mouse */
    }
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 4rem; /* Ajuste o tamanho conforme necessário */
        height: 4rem; /* Ajuste o tamanho conforme necessário */
        line-height: 4rem; /* Ajuste o tamanho conforme necessário */
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    .increased-size {
        width: 800px; /* ajuste o tamanho conforme necessário */
    }
  /* Cor do texto amarelo ao passar o mouse
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active {
    color: #feb930;
}*/
  .navbar-nav .nav-item .nav-link:hover {
    color: #feb930; /* Cor desejada */
  }

    #chat-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px; /* Defina a largura máxima do contêiner */
        margin: 0 auto; /* Centralize o contêiner na página */
    }

    /* Estilos para as mensagens do chat */
    .chat-message {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative; /* Permitir posicionamento absoluto dos elementos internos */
    }

    .message-text {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .message-info {
        font-size: 12px;
        color: #666666;
        margin-bottom: 2px;
    }

    .user-avatar {
        position: absolute; /* Posicione a foto do usuário absolutamente dentro da mensagem */
        top: 0;
        right: 0;
        margin: 10px; /* Adicione margem para espaçamento */
    }

    .user-avatar img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
