 /* Estilo personalizado para a navbar */
    .navbar-custom {
      background-color: #00549A; /* Cor de fundo da navbar */
      min-height: 80px; /* Altura mínima da navbar */
    }
    .navbar-custom .navbar-brand {
      color: #ffffff; /* Cor do texto do logo */
    }
    .navbar-custom .form-control {
      width: 291px; /* Largura do input de busca */
      order: 1; /* Posiciona o campo de busca após o botão */
      border-radius: 20px; /* Borda mais arredondada */
      background-color: #ffffff; /* Fundo branco */
      color: #1DA1F2; /* Cor do texto */
      padding-left: 38px; /* Espaçamento para o ícone */
      background-repeat: no-repeat;
      background-position: 10px center; /* Posição do ícone */
    }
    /* Aumenta o tamanho da navbar em telas menores */
    @media (max-width: 768px) {
      .navbar-custom {
        min-height: 60px; /* Ajuste de altura para telas menores */
      }
    }

    .carousel {
      width: 100%;
    }

    .carousel-item img {
      width: 100%;
      height: auto;
    }

    .small-images {
      text-align: center;
      margin-top: 20px;
    }

    .small-images img {
      height: auto;
      margin: 0 10px; /* Add some spacing between the images */
    }

    .btn-container {
        display: flex;
        gap: 10px; /* Ajuste este valor para o espaçamento desejado */
    }
    .btn-container button {
        flex: 1; /* Distribui o espaço igualmente entre os botões */
    }
    .btn-criar-evento {
            margin-top: 15px;
    }
    .nav-container {
        border: 1px solid #ccc; /* Borda sólida com cor cinza */
        border-radius: 5px; /* Cantos arredondados */
        padding: 10px; /* Espaçamento interno */
    }

    .btn-clean {
        border: none;
        background-color: transparent;
        color: #007bff; /* cor do texto azul */
    }

    .btn-clean:hover {
        background-color: rgba(0, 123, 255, 0.1); /* cor de fundo ao passar o mouse */
    }
